@use 'static/scss/constants';

.aboutLink {
    display: grid;
    place-content: center;
    padding: 15px 10px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    border-radius: constants.$secondary-border-radius;
    transition: background 0.5s;
}

.aboutOverlay {
    background-color: rgba(128, 128, 128, 0.473);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: grid;
    place-content: center;
}

.aboutDialog {
    background-color: var(--primary-color);
    width: 22em;
    height: 16em;
    padding: 1.3em;
    border-radius: constants.$secondary-border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    h1 {
        font-size: 1.9em;
        font-weight: 600;
    }

    h3 {
        font-size: inherit;
        font-weight: 500;
    }

    p {
        font-size: 0.8em;
        color: var(--secondary-text-color);
    }
    
    button {
        background: none;
        font: inherit;
        font-weight: 600;
        cursor: pointer;
        padding-bottom: 2px;
        transition: 0.2s;
        color: var(--primary-text-color);
        border-bottom: 1.5px solid transparent; // to account for hover border

        &:hover {
            border-bottom: 1.5px solid var(--primary-text-color);
        }
    }
}

.icons {
    display: flex;
    column-gap: 0.6em;

    a {
        background-color: #ffffff;
        display: grid;
        place-content: center;
        width: 3.3em;
        height: 3.3em;
        border: 1.5px solid var(--secondary-text-color);
        border-radius: 50%;
        transition: 0.2s;

        &:hover {
            background-color: var(--secondary-text-color);
        }

        img {
            width: 2em;
            height: 2em;
        }
    }
}

@media screen and (min-width: 920px) {
    .aboutLink {
        background-color: var(--secondary-color);
    }
}

@media screen and (max-width: 920px) {
    .aboutLink {
        background-color: var(--primary-color);
        width: 200px;
    }

    // temp
    .aboutDialog {
        font-size: 13px !important;
    }
}