@use 'static/scss/constants';

.weekForecast {
    h1 {
        width: fit-content;
        padding-bottom: 2px;
        border-bottom: 1.5px solid var(--primary-text-color);
        transition: border 0.5s;
        font-size: constants.$secondary-font-size;
        margin: 0 0 20px 3px;
    }

    .daysContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media (max-width: constants.$breakpoint-mobile) {
    .weekForecast {
        h1 {
            margin-bottom: 10px;
        }

        .daysContainer {
            flex-wrap: nowrap;
            overflow: auto;
            height: 122px;
        }
    }
}
