@use 'static/scss/constants';

.weatherStats {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
}

.stat {
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
        column-gap: 0.4rem;
    }

    img {
        width: 1.6rem;
        height: 1.4rem;
    }
    
    span {
        font-size: constants.$label-font-size;
        color: var(--secondary-text-color);
        transition: color 0.5s;
    }
    
    .forecast {
        text-transform: capitalize;
    }

    .minTemp {
        font-size: constants.$default-font-size;
    }
}

@media (max-width: constants.$breakpoint-mobile) {
    .weatherStats {
        display: none;
    }
}
