.weatherStats {
    // margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
    font-weight: 600;
    // font-size: 15px;
    
    // > p {
    //     text-transform: capitalize;
    // }
    
    
    > div {
        display: flex;
        justify-content: space-between;

        > div {
            display: flex;
        }

        p {
            font-weight: 600;
            // font-size: 15px;
            
            span {
                font-size: 12px;
                font-weight: inherit;
                color: var(--secondary-text-color);
                transition: color 0.5s;
            }
        }

        .minTemp {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 920px) {
    .weatherStats {
        display: none;
    }
}
