@use 'static/scss/constants';

.hourlyElement {
    display: grid;
    grid: 35px / 60px 55px auto 50px 70px 70px;
    align-items: center;
    border-radius: 15px;
    padding: 10px 0 10px 15px;
    margin-right: 10px; // margin to add space from element to scrollbar
    
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    
    .hour, .temp {
        font-size: 18px;
    }
    
    .wind, .rain {
        text-align: center;
    }
    
    > img {
        width: 35px;
        height: 35px;
    }
    
    span {
        font-size: 12px;
        font-weight: inherit;
        color: #b6b6b6;
        text-transform: uppercase;
    }
}