@use 'static/scss/constants';

.hourlyElement {
    display: grid;
    align-items: center;
    border-radius: 15px;
    background-color: var(--primary-color);
    font-weight: 600;
    transition: background-color 0.5s;
    
    .forecast {
        text-transform: capitalize;
    }
    
    .wind, .rain {
        text-align: center;
    }

    span {
        font-weight: inherit;
        color: var(--secondary-text-color);
        text-transform: lowercase;
        transition: color 0.5s;
    }
}

@media screen and (min-width: 920px) {
    .hourlyElement {
        grid: 2.3em / 4em 3.6em auto 3.3em 4.7em 4.7em;
        // grid: 35px / 60px 55px auto 50px 70px 70px;
        
        padding: 0.7em 0 0.7em 1em;
        // padding: 10px 0 10px 15px;

        margin-right: 10px; // margin to add space from element to scrollbar
        
        // font-size: 15px;
        // font-size: 16px;
        
        .forecast {
            margin-right: 1em;
            // margin-right:15px;
        }
        
        > figure {
            width: 2.3em;
            height: 2.3em;
        }
    }
}

@media screen and (max-width: 920px) {
    .hourlyElement {
        grid: 30px / 40px 40px auto 40px 45px 50px;
        padding: 10px 0 10px 15px;

        font-size: 14px;

        .forecast {
            margin-right:15px;
        }
        
        > figure {
            width: 30px;
            height: 30px;
        }
    }
}