@use 'static/scss/constants';

.errorDialog {
    background-color:var(--primary-color);
    border-radius: constants.$secondary-border-radius;
    padding: 1.3em;
    width: 23em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    h2 {
        margin: 1.3rem 0;
        font-weight: 600;
        font-size: 1.25em;
        text-transform: uppercase;
    }

    p {
        font-weight: 500;
    }
    
    button {
        margin-top: 3em;
        align-self: center;
        width: fit-content;
        background: none;
        font: inherit;
        font-weight: 600;
        cursor: pointer;
        padding-bottom: 2px;
        transition: 0.2s;
        color: var(--primary-text-color);
        border-bottom: 1.5px solid transparent; // to account for hover border

        &:hover {
            border-bottom: 1.5px solid var(--primary-text-color);
        }
    }
    
    .icon {
        align-self: center;
        display: grid;
        place-content: center;
        background-color: rgba(255, 0, 0, 0.521);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: white;
        font-size: 40px;
        margin: 0;
    }
}

@media screen and (max-width: 920px) {
    .errorDialog {
        font-size: 13px;
    }
}