/* MEDIA QUERY BREAKPOINTS */
$breakpoint-mobile: 1010px;
$breakpoint-desktop: 1011px;


/* BORDER RADIUS */
$primary-border-radius: 50px;
$secondary-border-radius: 15px;

/* FONT SIZES */
$default-font-size: 1em;
$mobile-font-size: 0.875em;
$secondary-font-size: 1.25em;
$label-font-size: 0.75em;
$header-font-size: 1.875em;