
@mixin neumo-inset {
    background: $neumocolor;
    box-shadow: inset 10px 10px 14px $shad1, inset -10px -10px 14px $shad2;
}

@mixin neumo {
    background: $neumocolor;
    box-shadow: 10px 10px 14px $shad1, -10px -10px 14px $shad2;
}

@mixin main-neumo {
    background: $neumocolor;
    box-shadow:  17px 17px 34px $shad1, -17px -17px 34px $shad2;
}

// $neumocolor: #afd4d9;
// $shad1: #9fc1c5;
// $shad2: #bfe7ed;
$neumocolor: #ebebeb;
$shad1: #d6d6d6;
$shad2: #ffffff;
