.heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.days {
    display: flex;
    
    h1 {
        cursor: pointer;
        padding-bottom: 2px;
        font-weight: 600;
        color: var(--secondary-text-color);
        transition: color 0.5s, border 0.5s;

        &.active {
            color: var(--primary-text-color);
            border-bottom: 1.5px solid var(--primary-text-color) !important;
        }
        
        &:hover {
            transition: 0.2s;
            border-bottom: 1.5px solid var(--secondary-text-color);
        }
    }
}

.weatherLabels {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: var(--secondary-text-color);
    transition: color 0.5s;
    font-weight: 600;
}

ul { 
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

@media screen and (min-width: 920px) {
    .hourlySection {
        margin-top: 70px;
    }

    .days {
        column-gap: 20px;
        margin: 0 0 20px 3px;
        
        h1 {
            font-size: 20px;
        }
    }

    .weatherLabels {
        width: 100px;
        margin: 0 39px 5px 0;
        font-size: 12px;
    }

    ul { 
        overflow: auto;
        scrollbar-gutter: stable;
        height: 300px;
    }
}

@media screen and (max-width: 920px) {
    .hourlySection {
        margin-top: 30px;
    }

    .days {
        column-gap: 15px;
        margin: 0 0 10px 3px;
        
        h1 {
            font-size: 18px;
        }
    }

    .weatherLabels {
        width: 70px;
        margin: 0 15px 5px 0;
        font-size: 10px;
    }
}