@use 'static/scss/constants';

.heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.days {
    display: flex;
    column-gap: 1.25rem;
    margin: 0 0 20px 3px;
    
    h1 {
        font-size: constants.$secondary-font-size;
        cursor: pointer;
        padding-bottom: 2px;
        color: var(--secondary-text-color);
        transition: color 0.5s, border 0.5s;

        &.active {
            color: var(--primary-text-color);
            border-bottom: 1.5px solid var(--primary-text-color) !important;
        }
        
        &:hover {
            transition: 0.2s;
            border-bottom: 1.5px solid var(--secondary-text-color);
        }
    }
}

.weatherLabels {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: var(--secondary-text-color);
    transition: color 0.5s;
    font-size: constants.$label-font-size;
}

ul { 
    display: flex;
    flex-direction: column;
}

@media (min-width: constants.$breakpoint-desktop) {
    .hourlySection {
        margin-top: 70px;
    }

    .weatherLabels {
        width: 97px;
        margin: 0 39px 5px 0;
    }

    ul { 
        overflow: auto;
        scrollbar-gutter: stable;
        height: 300px;
        row-gap: 10px;
    }
}

@media (max-width: constants.$breakpoint-mobile) {
    .hourlySection {
        margin-top: 30px;
    }

    .days {
        margin-bottom: 10px;
    }

    .weatherLabels {
        width: 69px;
        margin: 0 28px 5px 0;
    }

    ul {
        row-gap: 5px;
    }
}