@use 'static/scss/constants';

.mainContent {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 25px;
    justify-content: flex-end;
}

@media (min-width: constants.$breakpoint-desktop) {
    .mainContent {
        width: 70%;
        padding: 50px;
        border-radius: 0 constants.$primary-border-radius constants.$primary-border-radius 0;
    }

    .aboutBtn {
        display: none;
    }
}

@media (max-width: constants.$breakpoint-mobile) {
    .mainContent {
        padding: 10px;
        font-size: constants.$mobile-font-size;
    }

    .header {
        display: none;
    }

    .aboutBtn {
        margin-top: 20px;
        background-color: var(--primary-color);
        padding: 15px 10px;
        cursor: pointer;
        text-align: center;
        font-weight: 600;
        border-radius: constants.$secondary-border-radius;
        transition: background 0.5s;
    }
}