@use 'static/scss/constants';

.mainContent {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 25px;
    justify-content: flex-end;
}

.aboutBtnContainer {
    display: grid;
    place-content: center;
    margin-top: 20px;
}

@media screen and (min-width: 920px) {
    .mainContent {
        width: calc(70% - 80px);
        padding: 50px;
        border-radius: 0 constants.$primary-border-radius constants.$primary-border-radius 0;
    }

    .aboutBtnContainer {
        display: none;
    }
}

@media screen and (max-width: 920px) {
    .mainContent {
        padding: 10px;
    }

    .header {
        display: none;
    }
}