@use 'static/scss/constants';

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: grid;
    place-content: center;
}

.dialog {
    background-color: var(--primary-color);
    width: 22em;
    height: 16em;
    padding: 1.3em;
    border-radius: constants.$secondary-border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    h1 {
        font-size: constants.$header-font-size;
    }

    h3, p {
        font-size: constants.$default-font-size;
        font-weight: 500;
    }

    p {
        color: var(--secondary-text-color);
    }
    
    button {
        background: none;
        font: inherit;
        cursor: pointer;
        padding-bottom: 2px;
        transition: 0.2s;
        color: var(--primary-text-color);
        border-bottom: 1.5px solid transparent; // to account for hover border

        &:hover {
            border-bottom: 1.5px solid var(--primary-text-color);
        }
    }
}

.icons {
    display: flex;
    column-gap: 0.6em;

    a {
        background-color: #ffffff;
        display: grid;
        place-content: center;
        width: 3.3em;
        height: 3.3em;
        border: 1.5px solid var(--secondary-text-color);
        border-radius: 50%;
        transition: 0.2s;

        &:hover {
            background-color: var(--secondary-text-color);
        }

        img {
            width: 2em;
            height: 2em;
        }
    }
}

.link {
    text-decoration: underline;
    transition: 0.2s;

    &:hover {
        color: var(--primary-text-color);
    }
}