@use 'static/scss/constants';

.stat {
    @include constants.neumo-inset;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 30px;
    padding: 15px 20px;

    font-size: 18px;
}
.labels {
    display: flex;
    align-items: baseline;
    column-gap: 5px;
}
.unitLabel {
    font-size: 12px;
}