@use 'static/scss/constants';

$border-radius: 20px;

.searchContainer {
    background-color: var(--secondary-color);
    position: relative;
    border-radius: $border-radius;
    width: 100%;
    transition: background 0.5s;

    &.expand {
        border-radius: $border-radius $border-radius 0 0;
    }
}

.searchbar {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px 15px;
    
    input {
        color: var(--primary-text-color);
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        font: inherit;
        font-weight: 500;
        overflow: hidden;
        transition: color 0.5s;
    }

    img {
        width: 20px;
        height: 20px;
    }
}

.results {
    background-color: var(--secondary-color);
    position: absolute;
    width: calc(100% - 19px); // to account for padding
    height: 0;
    row-gap: 10px;
    border-radius: 0 0 $border-radius $border-radius;
    z-index: 1;
    transition: background 0.5s;

    &.expand {
        padding: 5px 0px 10px 19px;
        height: fit-content;
        animation: expand 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    
    li {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            margin-right: 12px;
            width: 13px;
            height: 13px;
        }

        div {
            overflow: hidden;

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
    
                &:first-child:hover {
                    text-decoration: underline;
                }
            
                &:last-child {
                    color: var(--secondary-text-color);
                    transition: color 0.5s;
                }
            }
        }
    }
}

@keyframes expand {
    0% {
        transform: scaleY(0.4);
        transform-origin: 100% 0%;
    }
    100% {
        transform: scaleY(1);
        transform-origin: 100% 0%;
    }
}