@use 'static/scss/constants';

.searchContainer {
    background-color: var(--secondary-color);
    position: relative;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    transition: 0.5s;

    &.expand {
        border-radius: 20px 20px 0 0;
    }
}
.searchbar {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px 20px;
    
    input {
        color: var(--primary-text-color);
        border: none;
        outline: none;
        background-color: transparent;
        font: inherit;
        overflow: hidden;
    }

    img {
        width: 15px;
        height: 15px;
    }
}
.results {
    background-color: var(--secondary-color);
    position: absolute;
    width: calc(100% - 23px); // to account for padding (43px)
    height: 0;
    row-gap: 10px;
    border-radius: 0 0 20px 20px;
    font-size: 15px;
    font-weight: 600;

    &.expand {
        padding: 5px 0px 10px 23px;
        height: fit-content;
        animation: expand 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    
    li {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            margin-right: 12px;
            width: 10px;
            height: 10px;
        }

        p:last-child {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-left: 3px; // act as space between words, couldn't do it in the html
            color: var(--secondary-text-color);
        }
        
        &:hover {
            text-decoration: underline;
        }
    }
}

@keyframes expand {
    0% {
        transform: scaleY(0.4);
        transform-origin: 100% 0%;
    }
    100% {
        transform: scaleY(1);
        transform-origin: 100% 0%;
    }
}