@use 'static/scss/constants';

.day {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 5em;
    height: 6.6em;
    padding: 0.65em;
    border-radius: 15px;
    // font-size: 15px;
    // font-size: 16px;
    font-weight: 600;
    transition: background-color 0.5s;

    span {
        font-weight: inherit;
        color: var(--secondary-text-color);
        transition: color 0.5s;
    }
    
    figure {
        width: 2.4em;
        height: 2.4em;
    }
}

@media screen and (max-width: 920px) {
    .day {
        font-size: 13px;
    }
}