@use 'static/scss/constants';

.day {
    @include constants.neumo-inset;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95px;
    height: 100px;
    padding: 10px 10px;
    border-radius: 15px;
    font-size: 16px;

    img {
        width: 40px;
        height: 40px;
    }
}