@use 'static/scss/constants';

.currentWeather {
    h1 {
        font-size: constants.$header-font-size;
    }

    p {
        font-size: constants.$secondary-font-size;
        text-transform: capitalize;
    }

    span {
        color: var(--secondary-text-color);
        transition: color 0.5s;
    }
    
    figure {
        margin: 10px 0;
        width: 11.9em;
        height: 11.9em;
    }
}

.temp {
    display: flex;

    > h2 {
        font-size: 4.375em;
        font-weight: 500;
    }

    > p {
        font-size: constants.$header-font-size;
        margin-top: 7px;
    }
}

@media (min-width: constants.$breakpoint-desktop) {
    .unitsSwitchContainer {
        display: none;
    }
}

@media (max-width: constants.$breakpoint-mobile) {
    .currentWeather {
        font-size: constants.$mobile-font-size;
    }

    .header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-auto-flow: column;
    }

    .unitsSwitchContainer {
        justify-self: flex-end;
    }

    .weather {
        display: grid;
        grid-template-columns:auto auto;
        grid-template-rows: 1fr 0.5fr;
        column-gap: 30px;

        figure {
            justify-self: flex-end;
            grid-area: 1 / 1 / 3 / 2;
        }
        
        > p {
            width: 80px;
        }
    }

    .temp {
        align-self: flex-end;                    
    }
}


