@use 'static/scss/constants';

.switch {
    display: flex;
    column-gap: 10px;
    width: fit-content;

    div {
        cursor: pointer;
        display: grid;
        place-content: center;
        background-color: var(--primary-color);
        width: 26px;
        height: 26px;
        padding: 4px;
        border-radius: 50%;
        transition: 0.5s;

        p {
            font-size: constants.$default-font-size;
        }
        
        &.active {
            background-color: var(--primary-text-color) !important;
            color: var(--primary-color);
        }
        
        &:hover {
            background-color: rgb(148, 148, 148);
            color: var(--primary-color);
        }
    }
}

@media (max-width: constants.$breakpoint-mobile) {
    .switch div {
        width: 22px;
        height: 22px;
        background-color: var(--secondary-color);
    }
}