.switch {
    display: flex;
    column-gap: 10px;
    width: fit-content;

    div {
        cursor: pointer;
        display: grid;
        place-content: center;
        background-color: var(--primary-color);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transition: 0.5s;
        
        font-size: 14px;
        font-weight: 600;
        
        &.active {
            background-color: var(--primary-text-color) !important;
            color: var(--primary-color);
        }
        
        &:hover {
            background-color: rgb(148, 148, 148);
            color: var(--primary-color);
        }
    }
}

@media screen and (max-width: 920px) {
    .switch div {
        background-color: var(--secondary-color);
    }
}