@use 'static/scss/constants';

.currentWeather {
    // align-self: center;
    // width: 160px;
    padding-bottom: 40px;
    // margin-top: 60px;

    border-bottom: 1px solid #b6b6b648;

    h1 {
        font-size: 30px;
        font-weight: 500;
    }

    p {
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
    }

    span {
        font-weight: inherit;
        color: #b6b6b6;
    }
    
    img {
        margin: 10px 0;
        width: 190px;
        height: 190px;
    }
}
.temp {
    display: flex;

    h2 {
        font-size: 70px;
        font-weight: 400;
    }

    p {
        margin-top: 7px;
        font-size: 40px;
    }
}


