@use 'static/scss/constants';

main { 
    // @include constants.main-neumo;
    // @include constants.neumo;
    background-color: white;

    display: flex;
    width: 1108px;
    min-height: 700px;
    border-radius: 50px;
    box-shadow: 0px 50px 47px -20px rgba(0, 0, 0, 0.349);
}
    
.loading {
    // background-color: rgba(128, 128, 128, 0.473);
    width: 100%;
    height: 100%;
    

    display: grid;
    place-content: center;
}


.errorOverlay {
    background-color: rgba(128, 128, 128, 0.473);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    display: grid;
    place-content: center;
}

.errorDialog {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 400px;
    
    display: flex;
    flex-direction: column;
    // align-items: center;
    text-align: center;
    
    h2 {
        margin: 20px 0;
        font-weight: 600;
        font-size: 22px;
    }

    p {
        font-size: 15px;
        font-weight: 500;
    }

    
    button {
        margin-top: 20px;
        align-self: center;
        width: fit-content;
        background: none;
        font: inherit;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        padding-bottom: 2px;
        transition: 0.2s;
        
        border-bottom: 1.5px solid transparent; // to account for hover border

        &:hover {
            border-bottom: 1.5px solid black;

        }
    }
    
    .icon {
        align-self: center;
        display: grid;
        place-content: center;
        background-color: rgba(255, 0, 0, 0.521);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: white;
        font-size: 40px;
    }
}


// .loading {
//     background-color: rgba(128, 128, 128, 0.473);
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     z-index: 1;

//     display: grid;
//     place-content: center;
// }