@use 'static/scss/constants';

/* THEMES */
[data-theme='light'] {
    --page-bg: #d6d7da;
    --primary-color: #ffffff;
    --secondary-color: #f6f6f8;
    --primary-text-color: #000000;
    --secondary-text-color: #b6b6b6;

    --search-img-filter: none;
}

[data-theme='dark'] {
    // v1
    // --page-bg: #121212;
    // --primary-color: #272727;
    // --secondary-color: #1b1b1b;
    // --primary-text-color: #ffffff;
    // --secondary-text-color: #e6e6e6;

    // v2
    --page-bg: #363636;
    --primary-color: #282828;
    --secondary-color: #222222;
    --primary-text-color: #f1f1f1;
    --secondary-text-color: #6e6d6d; //5e5d5d  //a09fa0

    --search-img-filter: invert(100%);
    
    img {
        opacity: 0.9;
    }
}

/* STYLE RESETS */
html, body, p, h1, h2, h3, h4, h5, h6, button, figure, legend, span, input, fieldset, ul, li, dl, dt, dd {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}
a {
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    color: inherit;
}
h1, h2, h3, h4, h5, h6, figure, legend, span {
    font-weight: normal;
}

/* SCROLLBAR */

// Whole scrollbar
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
// Only track
::-webkit-scrollbar-track {
    background: rgba(204, 204, 204, 0.37);
    border-radius: 20px;
}
// Only bar
::-webkit-scrollbar-thumb {
    background: rgba(192, 192, 192, 0.774);
    border-radius: 20px;

    &:hover {
        background: rgba(170, 170, 170, 0.884);
    }
}

/* GLOBAL */
body {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: rgb(67, 149, 255);
    font-weight: 700;
}
a:hover {
    color: rgb(0, 110, 255);
}