@use 'static/scss/constants';

.sidebar {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
    transition: 0.5s;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #b6b6b648;
    margin: 40px 0;
}

@media (min-width: constants.$breakpoint-desktop) {
    .sidebar {
        width: calc(30% - 100px); // subtract padding to avoid element stealing space from 'main content' element
        padding: 50px;
        border-radius: constants.$primary-border-radius 0 0 constants.$primary-border-radius;
    }

    .themeSwitchContainer {
        display: none;
    }

    .aboutBtn {
        background-color: var(--secondary-color);
        padding: 15px 10px;
        cursor: pointer;
        text-align: center;
        font-weight: 600;
        border-radius: constants.$secondary-border-radius;
        transition: background 0.5s;
    }
}

@media (max-width: constants.$breakpoint-mobile) {
    .sidebar {
        padding: 20px;
    }

    .searchbarAndThemeSwitchContainer {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    .separator, .aboutBtn {
        display: none;
    }
}

