@use 'static/scss/constants';

.sidebar {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
    transition: 0.5s;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #b6b6b648;
    margin: 40px 0;
}

@media screen and (min-width: 920px) {
    .sidebar {
        width: calc(30% - 100px);
        padding: 50px 50px;
        border-radius: constants.$primary-border-radius 0 0 constants.$primary-border-radius;
    }

    .themeSwitchContainer {
        display: none;
    }
}

@media screen and (max-width: 920px) {
    .sidebar {
        padding: 20px;
    }

    .searchbarAndThemeSwitchContainer {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    .separator, .aboutBtnContainer {
        display: none;
    }
}

